<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
  </head>
  <body>
    <div class="bg-warning"><%- include('./partials/nav') %></div>
    <h1 class="text-center mt-4">Welcome to Home page</h1>
  </body>
  <%- include('./partials/script') %>
</html>
