<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add new Blog</title>
    <style>
      .login-user-profile {
        max-width: 40px;
      }
    </style>
  </head>
  <body>
    <div class="bg-warning"><%- include('./partials/nav') %></div>
    <h1 class="text-center mt-4">Add New Blog</h1>
    <div class="container">
      <form
        action="/blog/add-new-blog"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            name="blogCoverImage"
            type="file"
            class="form-control"
            id="coverImage"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="title"
            type="text"
            class="form-control"
            id="title"
            aria-describedby="emailHelp"
          />
        </div>
        <label for="body">Body</label>
        <div class="form-floating mb-3">
          <textarea
            name="body"
            class="form-control mt-4"
            placeholder="Leave a comment here"
            id="body"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
  <%- include('./partials/script') %>
</html>
