<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Short ID</title>
    <style>
         body {
        background-color: rgb(192, 248, 229);
      }
        .container {
            width: 50%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-radius: 1rem;
            font-family: sans-serif;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 1rem;
        }
        label{
            font: 1.2rem;
            margin-right: 2rem;
        }
        input{
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 5px;
            color: blueviolet;
        }
        button {
            padding: 10px;
            border: none;
            outline: none;
            background-color: green;
            color: white;
            font-size: 1.2rem;
            border-radius: 5px;
            cursor: pointer;
        }
        .default-redirect {
            text-decoration: none;
            display: block;
            position: absolute;
        }
        h3{
            color: rgb(241, 142, 142);
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <% if(locals.status === "false"){ %>
                <h3>URL is required to generate a shortdID</h3>
            <% } %>
        </div>
        <div>
            <% if(!locals.id){ %>
                <a class="default-redirect" href="/">Home page</a>
            <% } %>
        </div>
        <form action="/url" method="post">
            <label for="inputurl">Enter the url</label>
            <input name="url" type="text" id="inputurl" placeholder="https://www.example.com">
            <button type="submit">Generate ID</button>
        </form>
        <div>
            <% if(locals.id) { %>
                <p>Generated ID : <%= id %> </p>
                <a style="display: block; margin-bottom: 10px;" href="/url/<%= id %>" target="_blank">Visit the site</a>
                <a style="display: block; margin-bottom: 10px;" href='/url/analytics/<%= id %>''>Watch Analytics</a>
                <a href='/'>Home Page</a>
            <% } %>
        </div>
    </div>
</body>
</html>